@media screen and (max-width: 571px) {
   .shareit {
    right: 0;
   }
}

@media screen and (max-width: 571px) {
    .shareit a, .bg {
     opacity: 100;
     background-color: black;
    }
 }




@media screen and (max-width: 571px) {
    body {
        body {
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 571px) {
    .home-banner-area {
        display: none;
    }
}

@media screen and (max-width: 571px) {
    .m-b-img {
        width: 100%;
    }
}

@media screen and (max-width: 571px) {
    .mb-flex-container {
        display: flex;
        padding-left: 10px;
        padding-right: 40px;
        flex-direction: column;
        margin-top: 20px;
    }
}

@media screen and (max-width: 571px){
    .cta {
        margin-top: 20px;
    }
}

@media screen and (max-width: 571px) {
    .skill-section {
        margin-top: 0;
        padding-inline: 0;
        justify-content: left;
    }
}

@media screen and (max-width: 571px){
    .offer h4 {
        font-size: 22px;
    }
}

@media screen and (max-width: 571px){
    .offer-desc {
        display: flex;
        flex-direction: column;
        padding-inline: 5px;
        text-align: center;
        align-items: center;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 571px){
    .offer-desc h2 {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 571px){
    .footer {
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 571px){
.footer-content-f p {
    margin-right: 0;
}

.footer-content-l {
    width: 100%;
}

.footer-content-l h4 {
    padding-top: 20px;
}
}